body
{
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    height: 500px;
    width: 750px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

h1
{
    font-size: 2em;
}

h3
{
    font-size: 1.2em;
}


.title-text
{
    font-size: 1.5em;
    color: #5d5d5d;
    margin-bottom: 8px;
}

.subtitle-text
{
    font-size: 1.2em;
    color: #5d5d5d;
    margin-bottom: 6px;
}

.center
{
    text-align: center;
}


#header
{
    position: absolute;
    width: 100%;
    height: 44px;
    top: 0;
    background-color: #4EB9FF;
}

#content
{
    position: absolute;
    width: 100%;
    top: 42px;
    bottom: 0;
}


#auth-section
{
    width: 100%;
    height: 100%;
    display: none;
}

#message-section
{
    width: 100%;
    height: 100%;
    display: none;
}

#loading-section
{
    width: 100%;
    height: 100%;
    display: none;
}

#documents-section
{
    width: 100%;
    height: 100%;
    display: none;
}

#first-use-section
{
    width: 100%;
    height: 100%;
    display: none;
}


#auth-content
{
    text-align: center;
}

#loading-content
{
    text-align: center;
}

#message-content
{
    text-align: center;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    color: #696969;
}

#first-use-content
{
    text-align: left;
    padding: 50px;
}

#first-use-content ul li
{
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    padding-top: 4px;
    padding-bottom: 4px;
}


.notes-list-item
{
    cursor: pointer;
    padding: 14px 8px 14px 8px;
    position: relative;
}
.notes-list-item:hover
{
    background-color: #514343;
}
.notes-list-item.active
{
    color: white;
    background-color: #4A3C3C;
    /*font-weight: bold;*/
}
.notes-list-item .arrow
{
    width: 8px;
    height: 23px;
    position: absolute;
    z-index: 10;
    top: 12px;
    right: 0px;
    border-right: none;
    overflow: hidden;
}

.notes-list-item p
{
    margin: 0;
    color: white;
    font-size: 1em;
}


#notes-list-container
{
    width: 30%;
    height: 100%;
    float: left;
    overflow-y: scroll;
    background-color: #5F5050;
}


#notes-list-space
{
    height: 100%;
}


#notes-list-buttons
{
    width: 30%;
    float: left;
    margin-top: 3px;
    display: none;
}


#note-content-container
{
    width: 70%;
    height: 100%;
    float: right;
    background-color: white;
}

#active-note-footer
{
    display: none;
    position: absolute;
    height: 40px;
    bottom: 0;
    right: 1%;
    width: 68%;
    background-color: white;
    border-top: 1px solid #d6d6d6;
    z-index: 20;
}


#active-note-actions
{
    float: right;
}

#active-note-status
{
    float: left;
    width: 50%;
    margin-left: 0px;
    margin-top: 9px;
    color: rgb(124, 124, 124);
    opacity: 0.6;
    font-size: 1em;
    transition: opacity 0.1s linear;
}
#active-note-status:hover
{
    opacity: 1;
}



#app-title
{
    color: white;
    font-size: 1.2em;
    position: absolute; bottom: 9px; left: 8px;
}

#app-actions
{
    position: absolute; bottom: 1px; right: 3px;
}

#settings-button
{
    padding: 5px;
    color: rgba(255, 255, 255, 0.25);
    font-size: 1.6em;
    transition: color 0.1s linear;
    outline: none;
    box-shadow: none;
}
#settings-button:hover
{
    color: #fff;
}


#authorize-button
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    box-shadow: none;
    background-color: #4b74ff;
    transition: all 0.1s linear;
}
#authorize-button:hover
{
    background-color: #3e5fe5;
}


#first-use-got-it-button
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    box-shadow: none;
    background-color: #4b74ff;
    transition: all 0.1s linear;
    padding-left: 10px;
    padding-right: 10px;
}
#first-use-got-it-button:hover
{
    background-color: #3e5fe5;
}


#new-button
{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 7px;
    bottom: 7px;
    padding-top: 10px;
    padding-left: 12px;
    color: #ffffff;
    background-color: #4EB9FF;
    border-radius: 20px;
    outline: none;
    box-shadow: none;
    transition: all 0.1s linear;
}
#new-button:hover
{
    background-color: #3DA0E0;
}


#trash-button
{
    margin-top: 2px;
    padding-left: 2px;
    color: #9d9d9d;
    font-size: 1.1em;
    transition: color 0.1s linear;
    outline: none;
    box-shadow: none;
}
#trash-button:hover
{
    color: #5d5d5d;
}

#edit-in-drive-button
{
    margin-top: 10px;
    padding-left: 6px;
    padding-right: 2px;
    outline: none;
    box-shadow: none;
}


#note-actions-button
{
    padding-bottom: 5px;
    color: rgb(124, 124, 124);
    outline: none;
    box-shadow: none;
    opacity: 0.6;
    font-size: 20px;
    transition: opacity 0.1s linear;
}
#note-actions-button:hover
{
    opacity: 1;
}


.drive-icon
{
    content: url('img/google-drive-20-grayscale.png');
    opacity: 0.4;
    transition: opacity 0.1s linear;
}
.drive-icon:hover
{
   /*content: url('img/google-drive-20-color.png');*/
   opacity: 1;
}


.popover-content
{
    margin: 0;
    padding: 0;
    width: 160px;
    height: 60px;
}

.popover-content ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.popover-content ul li
{
    color: #333333;
    height: 30px;
    padding: 5px 10px 5px 10px;
}
.popover-content ul li:hover
{
    cursor: pointer;
    color: white;
    background-color: #52A8FF;
}
.popover-content ul li:first-child:hover
{
    border-radius: 5px 5px 0px 0px;
}
.popover-content ul li:last-child:hover
{
    border-radius: 0px 0px 5px 5px;
}

#rate-overlay
{
    background-color: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1001;
}

#rate-dialog
{
    width: 500px;
    height: 200px;
    opacity: 1;
    background-color: white;

    padding: 10px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    display: none;
    z-index: 1002;
}

#rate-star
{
    float: left;
    padding: 10px;
    margin-top: 15px;
    margin-right: 10px;
}


#rate-buttons
{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    height: 60px;
}

#rate-button
{
    position: relative;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #92D549;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    transition: all 0.1s linear;
}
#rate-button:hover
{
    background-color: #94C85C;
}

#rate-dismiss-button
{
  position: relative;
  margin-bottom: 20px;
  color: #999999;
  outline: none;
  box-shadow: none;
  transition: all 0.1s linear;
}
#rate-dismiss-button:hover
{
  color: #333333;
  text-decoration: none;
}


/* Bootstrap Overrides */

.tooltip-inner
{
    max-width:none;
    white-space:pre;
}


/* Summernote Overrides */

.note-editor .note-toolbar
{
    border-bottom: 1px solid #d6d6d6;
}
