
body
{
    background-color: #fff;
    padding: 30px 60px 30px 60px;
    margin: 0px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

.title
{
    color: #525252;
    font-size: 34px;
}

.subtitle
{
    color: #6d6d6d;
    font-size: 22px;
}

.sep
{
    color: #636363;
    border-right: 2px solid #7d7d7d;
}

.dot
{
    color: #525252;
}

.text
{
    font-size: 1em;
    margin: 5px;
}

.section-container
{
    padding: 15px 20px 10px 20px;
}

hr
{
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 1px solid #ddd;
}

#sign-out-button
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    box-shadow: none;
    background-color: #ff414b;
    transition: all 0.1s linear;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
}
#sign-out-button:hover
{
    background-color: #d63740;
}


#open-folder-button
{
  color: white;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  box-shadow: none;
  background-color: #4EB9FF;
  transition: all 0.1s linear;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
}
#open-folder-button:hover
{
  background-color: #3DA0E0;
}


#reload-cache-button
{
  color: white;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  box-shadow: none;
  background-color: #8D8D8D;
  transition: all 0.1s linear;
  padding-left: 20px;
  padding-right: 20px;
}
#reload-cache-button:hover
{
  background-color: #727272;
}


#signed-in-as
{
    display: none;
    font-size: 1.15em;
    color: #555555;
}
